certifi==2022.12.7
chardet==3.0.4
idna==2.9
pytest==5.4.3
python-dateutil==2.8.1
python-engineio==3.12.1
python-socketio==4.5.1
requests==2.23.0
six==1.14.0
urllib3==1.25.8
websocket-client==0.57.0
PyMySQL==0.9.3
