# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # setup virtual env and install dependencies
    - name: Setup virtual environment
      run: |
        sudo apt-get update
        sudo apt-get install python3-venv
        python3 -m venv venv
        . venv/bin/activate
        pip install -r requirements.txt

    # runs mypy for type annotation checking
    - name: Run mypy
      run: |
        . venv/bin/activate
        mypy app/

    # lints code with black
    - name: Run black
      run: |
        . venv/bin/activate
        black app/ tests/ sunrisa.py app_config.py

    # Runs pytest on the tests/unit directory
    - name: Run unit tests
      run: |
        . venv/bin/activate
        pytest tests/

    # setup integration virtual env and install dependencies
    - name: Setup integration test virtual environment
      run: |
        python3 -m venv integration_venv
        . integration_venv/bin/activate
        pip install -r tests/integration/requirements_integration.txt

    # Setup MySQL for integration tests
    - name: Setup MySQL
      run: |
        sudo systemctl start mysql

    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v2

    # Runs pytest on the tests/integration directory
    - name: Run integration tests
      run: |
        . venv/bin/activate
        python sunrisa.py &
        echo "Sleeping 5 seconds before starting integration test"
        sleep 5
        . integration_venv/bin/activate
        python tests/integration/sunrisa_integration.py

